{% extends 'proyectowebapp/home.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">  
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                This is a danger alert*check it out!
            </div>
        {% endif%}
    
        <form action="{% url 'guardarAsset' %}" method="POST">
        
            <h4>Registro de Assets</h4>
            {% csrf_token %}
            {% if mensaje %}
               <div class="alert alert-success" role="alert">
                Asset registrado existosamente
               </div>
            {% endif %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form> 
        {% endblock %}
        </div>
</div>
