{% extends 'proyectowebapp/home.html' %}
{% load static %}


<body id="page-top">

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- CARD DE DISPOSITIVOS -->
      </br>
      </br>
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">REGISTRO DE DISPOSITIVOS</h6>
          <a href="{% url 'registrarAsset' %}" >AGREGAR</a>
        </div>
        

        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->


</body>

</html>