
<!DOCTYPE html>
<html>
<head>
<title> SESION | UTEC </title>
{% load static %}
   <link type="text/css" href="{% static 'proyectowebapp/css/index.css'%}" rel="stylesheet"></link>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <link rel="icon" href="imagenes/saes2.png">
</head>
<body>
<div id="login-button">
    <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png">
    </img>
</div>
<div id="container">
  <h1>Log In</h1>
  <form action="conexion.php" method="post">
   <input type="curp" name="curp" placeholder="CURP">
   <input type="password" name="pass" placeholder="Password">
   <button type="submit">ENTRAR</button>
  </form>
</div>
<script type="text/javascript" src="{% static 'proyectowebapp/js/index.js'%}"></script>
</body>
<div id="comtainer">
</div>
</html>