html {
  background: url(https://apiimg.iberostar.com/uploads/image/56445/image.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

img {
  display: block;
  margin: auto;
  width: 0%;
  height: auto;
}



/* Login container */
#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  background: rgba(87, 167, 199, 0.829);
  box-shadow: 1px 1px 50px rgb(12, 3, 37);
  display: none;
}

.close-btn {
  position: absolute;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 18px;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  opacity: 2;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.close-btn:hover {
  opacity: 0;
}

/* Heading */
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}

/* Inputs */
a,
input {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: rgb(12, 11, 11);
  font-weight: bold;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgb(255, 251, 251);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
  
}

input:focus {
  outline: none;
  box-shadow: 3px 3px 10px rgb(73, 68, 68);
  background: rgba(3, 3, 3, 0.247);
}

/* Placeholders */
::-webkit-input-placeholder {
  color: #ddd;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: red;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: red;
}

:-ms-input-placeholder {
  color: #333;
}

/* Link */
button
{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3, 3, 3, .1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding: 4px 8px;
  background: rgb(13, 75, 104);
}

a:hover {
  opacity: 0.2;
}

#remember-container {
  position: relative;
  margin: -5px 20px;
}

.checkbox {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 5px;
  border-radius: 4px;
  background: rgba(3, 3, 3, .2);
  display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background: rgba(3, 3, 3, .4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.87);
  color: #fff;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: #fff;
}

#remember {
  position: absolute;
  font-size: 13px;
  font-family: 'Hind', sans-serif;
  color: rgba(255, 255, 255, 0.911);
  top: 7px;
  left: 20px;
}

#forgotten {
  position: absolute;
  font-size: 12px;
  font-family: 'Hind', sans-serif;
  color: rgba(255, 255, 255, 0.514);
  right: 0px;
  top: 8px;
  cursor: pointer;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#forgotten:hover {
  color: rgba(255, 255, 255, .6);
}

#forgotten-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 180px;
  border-radius: 10px;
  background: rgba(3, 3, 3, 0.25);
  box-shadow: 1px 1px 50px #000;
  display: none;
}

.orange-btn {
  background: rgba(87, 198, 255, .5);
}

.asteriskField {
  display: none;
  }

.form-label{
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px 50px;
}

.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 20px;
  --bs-alert-padding-y: 50px;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: .375rem; 
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
  width: 150px;
  height: 10px;
  padding: 10px 50px;
  margin: 9px auto;
 
  
}

.alert-danger {
  padding: 10px 50px;
  --bs-alert-color: hsl(355, 61%, 32%);
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7
}
